---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="Featured Projects" href="projects">
  <div class="grid gap-7 md:grid-cols-2 mb-10">
    {
      projects.map(
        (
          {
            name,
            summary,
            image,
            link,
            link_enabled,
            github,
            github_public,
            link_disabled_warning,
          },
        ) => (
          <div
            class="flex flex-col rounded-2xl border border-white/10 bg-[#1c232d]/90 shadow-md"
          >
            <div class="relative h-48 w-full">
              <Image
                src={image}
                alt={name}
                width={368}
                height={241}
                class="rounded-t-2xl h-full w-full object-cover transition duration-300 ease-in-out hover:scale-105"
              />
              <div class="absolute inset-0 bg-[url(/raja.png)] bg-[length:128px] bg-repeat opacity-[5%] mix-blend-lighten" />
            </div>

            <div class="flex flex-col justify-between p-8">
              <div>
                <h3 class="mb-2 font-serif text-2xl font-semibold text-primary md:text-3xl">
                  {name}
                </h3>
                <p class="mb-6 text-base text-neutral">{summary}</p>
              </div>

              <div class="flex flex-wrap gap-6 text-sm font-medium text-neutral/ underline">
                {/* Live Demo */}
                {link_enabled ? (
                  <a
                    href={link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="transition text-primary"
                  >
                    Live Demo
                  </a>
                ) : (
                  <div class="group relative cursor-not-allowed text-neutral/50">
                    <span>Live Demo</span>
                    <span class="pointer-events-none absolute -top-7 left-1/2 -translate-x-1/2 rounded bg-black px-3 py-1 text-xs whitespace-nowrap text-white opacity-0 transition group-hover:opacity-100">
                      {link_disabled_warning ?? "Link not available"}
                    </span>
                  </div>
                )}

                {/* GitHub */}
                {github_public ? (
                  <a
                    href={github}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="transition hover:text-primary"
                  >
                    GitHub
                  </a>
                ) : (
                  <div class="group relative cursor-not-allowed text-neutral/50">
                    <span>GitHub</span>
                    <span class="pointer-events-none absolute -top-7 left-1/2 -translate-x-1/2 rounded bg-black px-3 py-1 text-xs whitespace-nowrap text-white opacity-0 transition group-hover:opacity-100">
                      This repository is now private
                    </span>
                  </div>
                )}
              </div>
            </div>
          </div>
        )
      )
    }
  </div>
</Section>
